        <div class="row">
              <div class="col-lg-5">
                <form class="form-horizonal" >
    <fieldset>
<!-- Form Name -->
        <h1><ul>Make an Appointment</ul></h1>

<!-- Text input-->
    <div class="control-group">
          <label class="control-label" for="textinput-0">First name</label>
    <div class="controls">
          <input id="textinput-0" name="textinput-0" type="text" placeholder="First Name" class="input-xlarge">
    </div>
      </div>

<!-- Text input-->
    <div class="control-group">
        <label class="control-label" for="textinput-1">Last Name</label>
          <div class="controls">
            <input id="textinput-1" name="textinput-1" type="text" placeholder="Last Name" class="input-xlarge">
       </div>
        </div>

<!-- Multiple Radios -->
        <div class="control-group">
            <label class="control-label" for="multipleradios-0"><ul>Gender</ul></label>
              <div class="controls">
                <label class="radio" for="multipleradios-0-0">
                  <input type="radio" name="multipleradios-0" id="multipleradios-0-0" value="Female" checked="checked">
                    Female
                      </label>
          <label class="radio" for="multipleradios-0-1">
            <input type="radio" name="multipleradios-0" id="multipleradios-0-1" value="Male">
                Male
                </label>
                    </div>
                      </div>

<!-- Text input-->
          <div class="control-group">
              <label class="control-label" for="textinput-2">Date</label>
                    <div class="controls">
                        <input id="textinput-2" name="textinput-2" type="text" placeholder="Date " class="input-xlarge">
                            </div>
                              </div>

<!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="textinput-3">Time</label>
                    <div class="controls">
                      <input id="textinput-3" name="textinput-3" type="text" placeholder="Time" class="input-xlarge">
                          </div>
                            </div>

<!-- Text input-->
              <div class="control-group">
                  <label class="control-label" for="textinput-5">Phone Number</label>
                      <div class="controls">
                        <input id="textinput-5" name="textinput-5" type="text" placeholder="Phone Number" class="input-xlarge">
                            </div>
                              </div>

<!-- Text input-->
              <div class="control-group">
                <label class="control-label" for="textinput-4">Email Address</label>
                  <div class="controls">
                    <input id="textinput-4" name="textinput-4" type="text" placeholder="Email" class="input-xlarge">
                      </div>
                        </div>

<!-- Textarea -->
              <div class="control-group">
                <label class="control-label" for="textarea-1">Service</label>
                  <div class="controls">                     
                    <textarea id="textarea-1" name="textarea-1"></textarea>
                      </div>
                        </div>

<!-- Button -->
              <div class="control-group">
                <label class="control-label" for="singlebutton-0"></label>
                  <div class="controls">
                    <button id="singlebutton-0" name="singlebutton-0" class="btn btn-primary">Submit</button>
                      </div>
                        </div>
</fieldset>
          </form>
    </div>
        <div class="col-lg-7">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2965.4643621221185!2d-87.70023088429433!3d41.99030876636319!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fce1dfaf08d63%3A0x9239c046d8090f37!2sLevel+One+Hair+Studio!5e0!3m2!1sen!2sus!4v1461692957526" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>




