<div class="container">
  <h2>Services</h2>
  <br>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th>Services</th>
        <th>Cost</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Womens HairCuts</td>
        <td>$$</td>
      </tr>
      <tr>
        <td>Manicure</td>
        <td>$$</td>
      </tr>
      <tr>
        <td>Pedicure</td>
        <td>$$</td>
      </tr>
      <tr>
        <td>Makeup</td>
        <td>$$</td>
      </tr>
      <tr>
        <td>Mens Haircut</td>
        <td>$$</td>
      </tr>
      <tr>
        <td>Mani-pedi</td>
        <td>$$</td>
      </tr>
      <tr>
        <td>Waxing</td>
        <td>$$</td>
      </tr>
      <tr>
        <td>Color</td>
        <td>$$</td>
      </tr>
      <tr>
        <td>Eyebrows</td>
        <td>$$</td>
      </tr>
    </tbody>
  </table>
</div>
