<h1>Services</h1>

<p>These are the services that Level One Hair Studio offers:</p>

<div class="container">
  <h2>Basic Table</h2>
  <br>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th>Services</th>
        <th>Cost</th>
        <th>Requirements</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Hair Cuts</td>
        <td>Doe</td>
        <td>A basic hair cut.</td>
      </tr>
      <tr>
        <td>Hair Wash</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
</div>
